.popup{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}

.popup_is-open{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup__close{
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../images/buttons/close_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
}

.popup__close:hover{
  opacity: 0.6;
}

.popup__content{
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0;
}

.popup__title{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  padding: 0;
}