.savedNewsHeader {
  background-color: white;
}

.savedNewsHeader__content {
  color: black;
  max-width: 530px;
  margin: 0;
  padding: 40px 104px 56px;
}

.savedNewsHeader__title {
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
  padding: 0;
}

.savedNewsHeader__subtitle {
  font-family: 'Roboto-Slab',sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 28px 0 30px;
}

.savedNewsHeader__span {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
}

.savedNewsHeader__span-bold {
  font-weight: 700;
}
