.savedNewsHeader {
  background-color: white;
}

.savedNewsHeader__content {
  color: black;
  margin: 0;
  padding: 40px 104px 56px;
}

.savedNewsHeader__title {
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
  padding: 0;
}

.savedNewsHeader__subtitle {
  max-width: 530px;
  font-family: 'Roboto-Slab',sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 28px 0 30px;
}

.savedNewsHeader__span {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
}

.savedNewsHeader__span-bold {
  font-weight: 700;
}

@media screen and (max-width:868px) {
  .savedNewsHeader__content {
    padding: 24px 40px 32px;
  }

  .savedNewsHeader__title {
    font-size: 14px;
  }

  .savedNewsHeader__subtitle {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0;
  }

  @media screen and (max-width:500px) {
    .savedNewsHeader__content {
      padding: 8px 16px 32px;
    }

    .savedNewsHeader__title {
      font-size: 12px;
    }
  }
}
