.navigation {
  height: 80px;
  margin: 0;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(196, 196, 196, 0.01);
  color: white;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.navigation__title {
  font-family: 'Roboto-slab-bold',sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.navigation__list {
  list-style: none;
  position: relative;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  height: 100%;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.navigation__link_active {
  color: #FFFFFF;
  border-bottom: solid 3px #FFFFFF;
}

.navigation__logout {
  box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  border: 1px solid #FFFFFF;
  color: white;
  border-radius: 100px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border .5s ease-in-out;
  padding: 12px 19px;
  gap: 20px;
}

.navigation__button {
  box-sizing: border-box;
  min-width: 176px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #FFFFFF;
  color: white;
  border-radius: 100px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 60px;
  transition: opacity .5s;
}

.navigation__button:hover {
  opacity: 0.8;
}

.navigation-dark {
  height: 80px;
  margin: 0;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(196, 196, 196, 0.01);
  color: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.navigation__title-dark {
  font-family: 'Roboto-slab-bold',sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
  padding: 0;
}

.navigation__link-dark {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  height: 100%;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.navigation__link_active-dark {
  color: #1A1B22;
  border-bottom: solid 3px #1A1B22;
}

.navigation__logout-dark {
  box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  border: 1px solid #D1D2D6;
  color: #1A1B22;
  border-radius: 100px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border .3s;
  padding: 12px 19px;
  gap: 20px;
}

.navigation__logout-dark:hover {
  border: 1px solid #1A1B22
}

.navigation__button-dark {
  box-sizing: border-box;
  min-width: 176px;
  background-color: transparent;
  border-style: none;
  border: 1px solid black;
  color: black;
  border-radius: 100px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 60px;
  transition: opacity .5s;
}

.navigation__button-dark:hover {
  opacity: 0.8;
}

@media screen and (max-width:868px) {
  .navigation {
    height: 66px;
    margin: 0;
    padding: 0 40px;
  }

  .navigation__list {
    gap: 16px;
  }

  .navigation__link {
    font-size: 16px;
  }

  .navigation__button {
    min-width: 152px;
    padding: 8px 40px;
    margin-left: 16px;
  }

  .navigation__logout {
    font-size: 16px;
    padding: 8px 15px;
    gap: 13px;
  }
}

@media screen and (max-width:706px) {
  .navigation {
    height: 66px;
    margin: 0;
    padding: 0 8px;
  }

  .navigation__list {
    gap: 6px;
  }
}

@media screen and (max-width:500px) {
  .navigation {
    height: 56px;
    margin: 0;
    padding: 0 16px;
  }

  .navigation__title {
    font-size: 16px;
  }

  .navigation__title-dark {
    font-size: 16px;
  }

  .navigation__list {
    display: none;
  }
}
