.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../../images/backgrounds/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__content {
  color: white;
  max-width: 608px;
  margin: 80px auto;
}

.header__title {
  font-family: 'Roboto-slab',sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
  margin: 0;
}

.header__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 32px 0 0;
}

.header__form {
  display: flex;
  flex-direction: row;
  height: 64px;
  margin: 88px 0 0;
}

.header__input {
  width: 100%;
  display: inline-block;
  border-radius: 100px;
  border: none;
  outline: none;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  padding-left: 24px;
  padding-right: 80px;
}

.header__input::placeholder {
  color:#B6BCBF ;
}

.header__button {
  margin-left: -60px;
  border-radius: 100px;
  min-width: 168px;
  background-color: #2F71E5;
  color: white;
  border: none;
  font-family: 'Roboto-500';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.header__button:hover {
  background-color:#347EFF ;
}

.header__button:active {
  background-color:#2A65CC ;
}
