.card {
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.card__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 17px 24px 24px;
}

.card__date {
  margin:0;
  font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.card__title {
  font-family: 'Roboto-Slab',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 15px 0 0;
}

.card__subtitle {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 16px 0 0;
}

.card__caption {
  font-family: 'Roboto-Slab',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 18px 0 0;
}

.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: white;
  height: 40px;
  width: 87px;
  padding: 8px 22px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.card__button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 8px;
  background-image: url('../../images/buttons/save_icon.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
}

.card__message {
  position: absolute;
  padding: 13px 30px;
  top:24px;
  right:66px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  display: none;
}

.card__message_is-visible {
  display: block;
}
